################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Kalkulator
/Kalkulator/.vs
/obj
/bin/Debug/net6.0
